.multicut-rail {
  --video-width: 200px;
  --rail-height: 2rem;

  /* background: lightgray; */
  margin: 1rem auto 2rem;
  position: relative;
  height: var(--rail-height);
  width: calc(100% - var(--video-width));
}
.multicut-rail:hover video,
.multicut-rail:hover .multicut-rail-mark--current {
  opacity: 1;
}
.multicut-rail .multicut-rail-preview-wrapper {
  pointer-events: none;
}
.multicut-rail video,
.multicut-rail .multicut-rail-mark--current {
  opacity: 0;
  transition: opacity 100ms;
}

.multicut-rail-preview-wrapper {
  position: absolute;
  background: transparent;
  cursor: col-resize;
  bottom: var(--rail-height);
}

.multicut-rail-mark {
  --apparent-width: 1px;
  --real-width: 7px;

  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--apparent-width);
  height: 100%;
}
.multicut-rail-mark:not(.multicut-rail-mark--current):hover {
  cursor: pointer;
  background: var(--primary-color);
  opacity: 0.5;
  width: var(--real-width);
}
.multicut-rail-mark::after {
  content: "";
  width: var(--real-width);
  height: 100%;
  position: absolute;
  left: calc(-0.5 * (var(--real-width) - var(--apparent-width)));
}
.multicut-rail-mark.multicut-rail-mark--selected,
.multicut-rail-mark.multicut-rail-mark--selected::after {
  background: var(--primary-color);
  opacity: 0.5;
}

.multicut-rail-mark.multicut-rail-mark--current {
  background-color: grey;
  width: var(--apparent-width);
}

.multicut-rail-btn {
  position: absolute;
  top: calc(var(--rail-height) + 1rem);
  border-radius: 0;
  border: 1px solid black;
  color: crimson;
  cursor: pointer;
}
.multicut-rail-handle {
  position: absolute;
  top: var(--rail-height);
  width: 5px;
  margin-left: -2px;
  height: 1rem;
  background: var(--primary-color);
  cursor: col-resize;
}

.multicut-rangebox {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: absolute;
  border-radius: 3px;
}
.multicut-rangebox:before,
.multicut-rangebox:after {
  --handle-height: 50%;
  --offset: 3px;
  content: "";
  position: absolute;
  top: calc(0.5 * (var(--rail-height) - var(--handle-height)) - 1px);
  bottom: 0;
  height: var(--handle-height);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  width: 1px;
}
.multicut-rangebox:after {
  right: var(--offset);
}
.multicut-rangebox:before {
  left: var(--offset);
}
