.range {
  --cutter-height: 50px;
  --handle-border: 3px;
  --preview-height: calc(var(--cutter-height) - 2 * var(--handle-border));
  position: relative;
  height: var(--cutter-height);
  width: 90%;
  margin: 0 auto 20px;
  user-select: none;
}
.previews-wrap {
  height: var(--preview-height);
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: var(--handle-border);
}

.rail {
  border-bottom: 1px solid gray;
  top: calc(var(--cutter-height) / 2);
  position: absolute;
  width: 100%;
}
.range-handle {
  width: calc(0.5 * var(--cutter-height));
  height: var(--cutter-height);
  position: absolute;
  border: var(--handle-border) solid black;
  background: transparent;
  cursor: col-resize;
}

.range-handle:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: var(--handle-border) solid white;
}

.range-handle video {
  position: absolute;
  top: var(--cutter-height);
  display: none;
}
.range-handle:first-of-type,
.range-handle:first-of-type:after {
  border-right: 0;
}
.range-handle:last-of-type {
  border-left: 0;
  margin: 0 calc(-0.5 * var(--cutter-height));
}
.range-handle:last-of-type:after {
  right: 0;
  border-left: 0;
}
.range-handle:first-of-type:focus video,
.range-handle:first-of-type:hover video,
.range-handle:last-of-type:hover video,
.range-handle:last-of-type:focus video {
  display: block;
}
.range-handle:first-of-type video {
  left: calc(-1 * var(--handle-border));
}
.range-handle:last-of-type video {
  right: calc(-1 * var(--handle-border));
}

.range-handle.range-handle--crop {
  margin-top: calc(-0.5 * var(--cutter-height));
  margin-bottom: calc(-0.5 * var(--cutter-height));
}
.range-handle:active {
  border-width: calc(var(--handle-border) + 2px);
}
.range-handle:focus {
  outline: 0;
  border-color: aqua;
}

.dimmer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: var(--preview-height);
  top: var(--handle-border);
}
.dimmer-start {
  left: 0;
}
.dimmer-end {
  right: 0;
}

.seeker {
  width: var(--cutter-height);
  margin-left: calc(-0.5 * var(--cutter-height));
  height: calc(100% + 10px);
  position: absolute;
  display: flex;
  justify-content: center;
  color: grey;
}

.seeker-base {
  --cutter-height: 6px;
  position: absolute;
  height: var(--cutter-height);
  background-color: currentColor;
  bottom: 0;
  width: var(--cutter-height);
  border-radius: 50%;
}

.seeker-stem {
  width: 3px;
  height: 100%;
  background-color: currentColor;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.seeker:hover .seeker-base,
.seeker:hover .seeker-stem {
  color: black;
}
.seeker:active .seeker-base,
.seeker:active .seeker-stem {
  color: var(--primary-color);
}
