.seekbar {
  --background-color: rgba(0, 0, 0, 0.2);
  --main-color: var(--primary-color);
  --rail-height: 4px;
  --handle-size: calc(4 * var(--rail-height));
  --video-width: 200px;
  height: calc(2 * var(--handle-size));

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
}

.seekbar-rail {
  background: var(--background-color);
  cursor: pointer;
  position: relative;
  height: var(--rail-height);
  width: calc(100% - var(--video-width));
}
.seekbar-rail:after {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
}

.seekbar-rail:hover {
  --background-color: rgba(0, 0, 0, 0.3);
  --rail-height: 6px;
}

.seekbar-handle {
  height: var(--handle-size);
  width: var(--handle-size);
  border-radius: 50%;
  background-color: var(--main-color);
  top: calc(-0.25 * var(--handle-size));
  top: calc(0.5 * var(--rail-height) - 0.5 * var(--handle-size));
  position: absolute;
  pointer-events: none;
  margin-left: calc(-0.5 * var(--handle-size));
}
.seekbar-rail:hover video {
  opacity: 1;
}
.seekbar-rail .seekbar-rail-preview-wrapper {
  pointer-events: none;
}
.seekbar-rail video {
  opacity: 0;
  transition: opacity 100ms;
  border: 2px solid white;
  border-radius: 2px;
}

.seekbar-rail-preview-wrapper {
  position: absolute;
  background: transparent;
  cursor: col-resize;
  bottom: calc(var(--rail-height) + 2rem);
}
