:root {
  --primary-color: mediumspringgreen;
  --bright-color: springgreen;
}

.App {
  min-height: 100vh;
  position: relative;
}

code pre {
  background-color: #234;
  color: #fff;
  display: inline-block;
  margin: 0;
}

.video-input {
  padding: 1rem;
  border: 1px dashed gray;
}

/* .video-preview {
  border: 1px dotted gray;
} */
.video-upload-and-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  align-items: center;
}

.handle {
  width: var(--size);
  height: var(--size);
  position: absolute;
  border: 2px solid black;
  background: gray;
  margin: 0 calc(-0.5 * var(--size));
  border-radius: 50%;
}

.handle.handle--crop {
  margin-top: calc(-0.5 * var(--size));
  margin-bottom: calc(-0.5 * var(--size));
  cursor: grab;
}
.handle.handle--crop:active:hover {
  cursor: grabbing;
}
.handle:active {
  border-width: 3px;
}
.handle:focus {
  outline: 0;
  border-color: var(--primary-color);
}
table.stats {
  font-size: 12px;
}

.crop-overlay svg {
  position: relative;
}
.crop-overlay {
  --size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.controls {
  margin: 1rem;
}

.controls-row {
  min-height: 2rem;
  display: flex;
  align-items: center;
}
.controls-row:nth-child(odd) {
  background: #f5f5f5;
}
.controls-row-children {
  gap: 1rem;
  display: flex;
  overflow-y: auto;
}

.controls-row-header {
  min-width: 20%;
  padding: 0 1rem;
}

.video-controls {
  display: flex;
}

.play-button {
  --width: 50px;
  --height: 30px;
  padding: 0;
  position: absolute;
  margin-left: 1rem;
  background: none;
  width: var(--width);
  height: var(--height);
  border: 0;
}
.play-button:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 3px;
}
.play-button .icon-pause {
  height: var(--height);
  border: 9px solid black;
  border-top: 0;
  border-bottom: 0;
  width: calc(var(--width) - 20px);
  margin: 0 10px;
}
.play-button .icon-play {
  height: var(--height);
  width: var(--width);
  border: calc(0.5 * var(--height)) solid transparent;
  border-left-color: black;
  border-left-width: calc(0.6 * var(--width));
  margin-left: 10px;
}

.range-control {
  white-space: nowrap;
}
